<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Formulario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <h2>BUSCAMINAS</h2>

<form method="post">
  <label for="fila">Filas:</label><br>
  <input type="number" id="fila" name="fila" value=1 min=1 max=20><br>
  <label for="columna">Columnas:</label><br>
  <input type="number" id="columna" name="fila" value=1 min=1 max=15><br><br>
  <input type="submit" value="Enviar">
</form> 

<p>Escribe los campos</p>



</body>
</html>